# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title:  IDX Broker API
  description: Only GET calls available for live testing.
  version: "1.2.3"
# the domain of the service
host: api.idxbroker.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
produces:
  - application/x-www-form-urlencoded
#API endpoints
paths:

  #clients component
  /clients/accounttype:
    get:
      summary:
        Your account type.
      description:
        Get your account type. Platinum or Lite is returned.
      tags:
        - Clients
      responses:
        200:
          description: Your account type
          schema:
            type: string
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/agents:
    get:
      summary: agent information
      description: View agent information on a multi-user account.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of agent data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/apiversion:
    get:
      summary: default api version
      description: Get the default api version.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Clients
      responses:
        200:
          description: default api version
          schema:
            type: string
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/cities{listID}:
    get:
      summary: client city list data
      description: Returns the cities available in each of a client's city lists. Since a client can build any number of city lists this method requires the ID of which list you want to view. To get a list of all city lists available do not send the primary request ID. The default list on each account has the id combinedActiveMLS
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: listID
          in: path
          required: false
          description: The numaric id of a client city list. If an ID is given a list of IDs is returned.
          type: string
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of client's city lists data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        204:
          description: Valid API call with nothing to retrun
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/citieslistname:
    get:
      summary: IDs and names for each of a client's city lists
      description: Returns the IDs and names for each of a client's city lists including MLS city lists. To get the list of all city lists available do not send the primary request ID. The default list on each account has the ID combinedActiveMLS Note that this method was previously camelcased as "citiesListName" but was made lower case to fit the API naming convention. Calls to "citiesListName" will be forwarded to "citieslistname" and "citiesListName" is listed as deprecated in the method list.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Clients
      responses:
        200:
          description: An array of agent data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/counties{listID}:
    get:
      summary: agent information
      description: View agent information on a multi-user account.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: listID
          in: path
          required: false
          description: The numaric id of a client county list. If an ID is not given a list of IDs is returned.
          type: number
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of county list data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/countieslistname:
    get:
      summary: IDs and names for each of a client's counties lists
      description: Returns the IDs and names for each of a client's counties lists including MLS counties lists. To get the list of all counties lists available do not send the primary request ID. The default list on each account has the ID combinedActiveMLS.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"

      tags:
        - Clients
      responses:
        200:
          description: An array of counties lists data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/dynamicwrapperurl:
    post:
      summary: Update dynamic wrapper url
      description: Update dynamic wrapper url for global, pages and saved links. If savedLinkID, or pageID are not passed, the global dynamic wrapper url will be updated.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Clients
      responses:
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: dynamicURL is required.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: Invalid savedLinkID or pageID will result in 500. error
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/featured:
    get:
      summary: Featured Listings
      description:
        Listing data. Only listings belonging to the agent(s) on an IDX Broker Account is available.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/offset"
        - $ref: "#/parameters/rf"

      tags:
        - Clients
      responses:
        200:
          description: An array of listing data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        204:
          description: Required parameter missing or invalid.
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/historical:
    get:
      summary: historical information
      description: Returns a basic set of information for all of the client's historical (Sold MLS Data) properties when available. This is not yet avaiable.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of historical data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/listcomponents:
    get:
      summary: componant information
      description: View componant information.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Clients
      responses:
        200:
          description: An array of componant data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/listmethods:
    get:
      summary: all available methods in the current API component
      description: A simple method for listing all available methods in the current API component. This method will also list which request methods (GET, PUT, POST, or DELETE) are supported by each method in addition to each method status.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"

      tags:
        - Clients
      responses:
        200:
          description: An array of methods data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/offices:
    get:
      summary: offices information
      description: View offices data.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of offices data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/postalcodes{listID}:
    get:
      summary: client's postalcode lists
      description: Returns the postalcodes available in each of a client's postalcode lists. Since a client can build any number of postalcode lists this method requires the ID of which list you want to view. To get a list of all postalcode lists available do not send the primary request ID. The default list on each account has the id combinedActiveMLS. Note that this method was previously called as "zipcodes" but was changed to keep API format more international. Calls to "zipcodes" will be forwarded to "postalcodes" and "zipcodes" is listed as deprecated in the method list.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: listID
          in: path
          required: false
          description: The numaric id of a client postalcode list. If an ID is not given a list of IDs is returned.
          type: number
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of agent data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/postalcodeslistname:
    get:
      summary: postalcode information
      description: Returns the IDs and names for each of a client's postalcode lists including MLS postalcode lists. To get the list of all postal code lists available do not send the primary request ID. The default list on each account has the ID combinedActiveMLS
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"

      tags:
        - Clients
      responses:
        200:
          description: An array of postalcode data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/savedlinks{savedLinksID}:
    delete:
      summary: remove a saved link
      description: Remove a saved link from the account.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: savedLinksID
          in: path
          required: true
          description: The numaric id of a client savedlink list. If an ID is not given a list of IDs is returned.
          type: number

      tags:
        - Clients
      responses:
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/savedlinks:
    get:
      summary: saved links information
      description: Get saved links for a given client account.].
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of saved links data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/savedlinks{savedLinksID}:
    post:
      summary: Update an existing client's saved link
      description: Update an existing client's saved link. This method is to be used at your own risk. We will NOT be held accountable for programmatic errors in your code or the improper use of search values or options within said values resulting in broken saved links.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: savedLinksID
          in: path
          required: true
          description: The numaric id of a client savedlink list.
          type: number

      tags:
        - Clients
      responses:
        200:
          description: if no POST data is supplied, then a list of updatable fields with format information is returned
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/savedlinks{savedLinksID}:
    put:
      summary: Update an existing client's saved link
      description: Update an existing client's saved link. This method is to be used at your own risk. We will NOT be held accountable for programmatic errors in your code or the improper use of search values or options within said values resulting in broken saved links.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: query string
          in: path
          required: true
          description: search fields in a URL encoded, ampersand delineated query string format.
          type: string


      tags:
        - Clients
      responses:
        200:
          description: If a client saved link is successfully created, the new saved link's ID will be returned. If no PUT data is supplied, then a list of updatable fields with format information is returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/soldpending:
    get:
      summary: sold and pending properties information
      description: Returns a basic set of information for all of the client's sold and pending properties. That is, those that have been removed from their MLS data.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of sold and pending properties data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/supplemental{listingID}:
    delete:
      summary: remove a supplemental listing
      description: Remove a supplemental listing from the account.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: listingID
          in: path
          required: true
          description: The numaric id of a client supplemental listingID.
          type: number

      tags:
        - Clients
      responses:
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/supplemental:
    get:
      summary: saved links information
      description: Get saved links for a given client account.].
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: An array of supplemental listing data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/supplemental{listingID}:
    post:
      summary: Update an existing supplemental listing.
      description: Update an existing supplemental listing. If updating images, existing images are deleted and the new images are inserted instead for the listing.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: listingID
          in: path
          required: true
          description: The numaric id of a client supplemental listing.
          type: number

      tags:
        - Clients
      responses:
        200:
          description: if no POST data is supplied, then a list of updatable fields with format information is returned
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/supplemental:
    put:
      summary: Update an existing client's supplemental listing
      description: Update an existing client's ssupplemental listing. This method is to be used at your own risk. We will NOT be held accountable for programmatic errors in your code or the improper use of search values or options within said values resulting in broken supplemental listing.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: query string
          in: path
          required: true
          description: supplemental listingfields in a URL encoded, ampersand delineated query string format.
          type: string


      tags:
        - Clients
      responses:
        200:
          description: If a client saved link is successfully created, the new saved link's ID will be returned. If no PUT data is supplied, then a list of updatable fields with format information is returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/systemlinks:
    get:
      summary: system pages
      description: Gathers all the pages system pages (search, featured, contact, etc) that can be directly linked to without additional property information being included in the URL.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: The name, unique ID, and URL for all system links on the account. Additionally there is a boolean named systemresults. If true this is a property results page that requires additional parameters. This means the url can be useful when dynamically building results page links but should not be linked to directly.When a client has more than one MLS on their account, listings for search pages that can vary by MLS ID will include a subpages array element.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/widgetsrc:
    get:
      summary: URLs for javascript widgets
      description: Gather all the URLs for javascript widgets on the user account. These widgets can then be placed on the user's main site via the included URLs.


      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/rf"
      tags:
        - Clients
      responses:
        200:
          description: The name, unique ID and URL for all javascript widgets that have been created on the user's account."
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/wrappercache:
    delete:
      summary: clear wrapper cache
      description: clear wrapper cache.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"

      tags:
        - Clients
      responses:
        204:
          description: Empty return
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.
  /clients/zipcodes{listID}:
    get:
      summary: zipcodes available in each of a client's zipcode lists
      description: Returns the zipcodes available in each of a client's zipcode lists. Since a client can build any number of zipcode lists this method requires the ID of which list you want to view. To get a list of all zipcode lists available do not send the primary request ID. The default list on each account has the id combinedActiveMLS.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - name: listID
          in: path
          required: false
          description: The numaric id of a client zipcodes list. If an ID is not given a list of IDs is returned.
          type: string
      tags:
        - Clients
      responses:
        200:
          description: All zipcodes in a given list or, if a list ID is not provided, a list of list IDs.
          schema:
            type: string
        400:
          description: Required parameter missing or invalid.
        401:
          description: accesskey not valid or revoked.
        403:
          description: URL provided is not using SSL (HTTPS).
        404:
          description: Invalid API component specified.
        405:
          description: Method requested is invalid. This usually indicates a typo or that you may be requested a method that is part of a different API component.
        406:
          description: accesskey not provided
        409:
          description: Duplicate unique data detected.
        412:
          description: Account is over it's hourly access limit.
        413:
          description: Requested entity too large.
        416:
          description: Requested time range not satisfiable.
        417:
          description: There are more saved links in the account than allowed through the API.
        500:
          description: General system error. Please try again later or contact IDX support.
        503:
          description: Scheduled or emergency API maintenance will result in 503 errors.
        521:
          description: Temporary error. There is a possibility that not all API methods are affected.


  #leads component
  /leads/lead/{leadID}:
    get:
      summary: Lead Data
      description: Get information for one or multiple leads.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/offset"
        - $ref: "#/parameters/rf"
      tags:
        - Leads
      responses:
        200:
          description: An array of listing data
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  #mls component
  /mls/age/{idxID}:
    get:
      summary: Last MLS refresh
      description: Gives the date and time a particular MLS was last downloaded, processed and the last time images gathering was completed.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/Error'
  
  
  /mls/approvedmls:
    get:
      summary: Last MLS refresh
      description: This method provides all of the IDX IDs and names for all of the paperwork approved MLSs on the client's account. Note this method was previously camelcased as "approvedMLS" but was made lower case to fit the API naming convention. Calls to "approvedMLS" will be forwarded to "approvedmls" and "approvedMLS" is listed as deprecated in the method list.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/Error'
  
  
  /mls/cities/{idxID}:
    get:
      summary: Cities in an MLS
      description: All cities represented in the current set of MLS data are available from this method. The output can be filtered using additional GET parameters.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: An array of cities in an MLS.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  
  /mls/counties/{idxID}:
    get:
      summary: Counties in an MLS
      description: All counties represented in the current set of MLS data are available from this method. The output can be filtered using additional GET parameters.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: An array of counties in an MLS.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
            
  /mls/listcomponents:
    get:
      summary: List of all MLS API components
      description: This is a simple, access anywhere, method for getting a list of all API components available.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - MLS
      responses:
        200:
          description: This is a simple, access anywhere, method for getting a list of all API components available.
          schema:
            $ref: '#/definitions/Error'          
  
  
  /mls/listmethods:
    get:
      summary: List of all MLS API methods
      description: A simple method for listing all available methods in the current API component. This method will also list which request methods (GET, PUT, POST, or DELETE) are supported by each method in addition to each method status.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - MLS
      responses:
        200:
          description: A simple method for listing all available methods in the current API component. This method will also list which request methods (GET, PUT, POST, or DELETE) are supported by each method in addition to each method status.
          schema:
            $ref: '#/definitions/Error'          
            
            
  /mls/prices/{idxID}:
    get:
      summary: The sum total of properties listed in a given MLS as well as sums for each property type in the MLS.
      description: The sum total of properties listed in a given MLS as well as sums for each property type in the MLS.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/rf"
        
      tags:
        - MLS
      responses:
        200:
          description: The sum total of properties listed in a given MLS as well as sums for each property type in the MLS.
          schema:
            $ref: '#/definitions/Error' 
   
            
  /mls/propertycount/{idxID}:
    get:
      summary: Gives a total number of listings available for a given city, county, or zipcode.
      description: Gives a total number of listings available for a given city, county, or zipcode.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - name: countType
          in: path
          description: The numeric city ID, county ID, or zipcode for which you want to get a property count.
          required: true
          type: string
 
        - $ref: "#/parameters/countSpecifier"
        
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: Gives a total number of listings available for a given city, county, or zipcode.
          schema:
            $ref: '#/definitions/Error'          
            
            
  /mls/propertytypes/{idxID}:
    get:
      summary: Gives the property type information for all types that are available on a given MLS.
      description: Gives the property type information for all types that are available on a given MLS.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: Gives the property type information for all types that are available on a given MLS.
          schema:
            $ref: '#/definitions/Error'         
            
            
  /mls/searchfields/{idxID}:
    get:
      summary: Seach Fields Data
      description: All the fields in a given MLS that are currently allowed to be searched according to MLS guidelines.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: Profile information for a user
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'


  /mls/searchfieldvalues/{idxID}:
    get:
      summary: Seach Field Values
      description: Field values in a given MLS that are currently allowed to be searched according to MLS guidelines.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - name: mlsPtID
          in: path
          description: The property type ID in an MLS
          required: true
          type: number
          minLength: 1
          maxLength: 1
        - name: name
          in: path
          description: mls field name - the IDX assigned name of the MLS field name. See the searchfields for the list of searchable fields.
          required: true
          type: number
      
        
      tags:
        - MLS
      responses:
        200:
          description: Search field values
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'  
            
            
  /mls/zipcodes/{idxID]:
    get:
      summary: Field values in a given MLS that are currently allowed to be searched according to MLS guidelines.
      description: Field values in a given MLS that are currently allowed to be searched according to MLS guidelines.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameter/idxID"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/rf"
      tags:
        - MLS
      responses:
        200:
          description: An array of zip codes in an MLS.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
            
  
            
  #partners component
  
  /partners/aggregatedagents:
    get:
      summary: Get a list of all agents for your clients.
      description: Get a list of all agents for your clients.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/offset"
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of all agents for your clients.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /partners/aggregatedfeatured:
    get:
      summary: Get a list of featured MLS properties. 
      description: Get a list of featured MLS properties. Output fields may or may not be populated depending on how the information was entered into the IDX system.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/offset"
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of featured MLS properties. 
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /partners/aggregatedleads:
    get:
      summary: Get a list of all leads. 
      description: Get a list of featured MLS properties. For bandwidth and memory considerations there is a limit of 5,000 on the number of leads that can be returned in any single request. Even if a full week of data is requested this limit will only be encountered if your clients have a combined average 30+ leads created, updated, or active per hour (as such it will be most common when requesting leads based on last property update date). If this limit is exceeded a 413 -Requested Entity Too Large error is returned. If encountered a smaller interval will need to be used.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of all leads. 
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /partners/aggregatedleadtraffic:
    get:
      summary: Get a list of all leads traffic history. 
      description: Get a list of all leads traffic history. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of all leads traffic history.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  /partners/aggregatedlistingstatus:
    get:
      summary: This method gives the status for all MLS listings (not supplemental) broken down by client account ID. This includes sold/pending listings with an unknown status which are not usually returned by sold/pending api methods. This is helpful if you need to know when previously gathered featured properties have left the market.
      description: This method gives the status for all MLS listings (not supplemental) broken down by client account ID. This includes sold/pending listings with an unknown status which are not usually returned by sold/pending api methods. This is helpful if you need to know when previously gathered featured properties have left the market.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: This method gives the status for all MLS listings (not supplemental) broken down by client account ID. This includes sold/pending listings with an unknown status which are not usually returned by sold/pending api methods. This is helpful if you need to know when previously gathered featured properties have left the market.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/aggregatedproperties:
    get:
      summary: Get a list of all lead saved properties. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
      description: Get a list of all lead saved properties. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of all lead saved properties. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'          
            
  /partners/aggregatedsearches:
    get:
      summary: Get a list of all lead saved searches. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
      description: Get a list of all lead saved searches. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of all lead saved searches. For bandwidth and memory considerations there is a limit of 5,000 on the number of searches that can be returned in any single request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/aggregatedsoldpending:
    get:
      summary: Get a list of sold/pending MLS properties. Output fields may or may not be populated depending on how the information was entered into the IDX system. We are planning to add the ability to query by the date the property left the market and, for sold listings, the date it was sold in a future update.
      description: Get a list of sold/pending MLS properties. Output fields may or may not be populated depending on how the information was entered into the IDX system. We are planning to add the ability to query by the date the property left the market and, for sold listings, the date it was sold in a future update.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/offset"
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of sold/pending MLS properties. Output fields may or may not be populated depending on how the information was entered into the IDX system. We are planning to add the ability to query by the date the property left the market and, for sold listings, the date it was sold in a future update.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/aggregatedsupplemental:
    get:
      summary: Get a list of supplemental (non-MLS) properties. Output fields may or may not be populated depending on how the information was entered into the IDX system.
      description: Get a list of supplemental (non-MLS) properties. Output fields may or may not be populated depending on how the information was entered into the IDX system.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/interval"
        - $ref: "#/parameters/startDatetime"
        - $ref: "#/parameters/dateType"
        - $ref: "#/parameters/clientChunk"
        - $ref: "#/parameters/includeDisabledAccounts"
        - $ref: "#/parameters/offset"
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Get a list of supplemental (non-MLS) properties. Output fields may or may not be populated depending on how the information was entered into the IDX system.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/apiversion:
    get:
      summary: Get the default api version.
      description: Get the default api version.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Partners
      responses:
        200:
          description: Get the default api version.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/clients:
    get:
      summary: Client List
      description: A list of clients available to a given partner. The list of clients can be filtered by GET values.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/filterField"
        - $ref: "#/parameters/filterValue"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: History information for the given user
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/listcomponents:
    get:
      summary: This is a simple, access anywhere, method for getting a list of all API components available.
      description: This is a simple, access anywhere, method for getting a list of all API components available.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Partners
      responses:
        200:
          description: This is a simple, access anywhere, method for getting a list of all API components available.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /partners/listmethods:
    get:
      summary: A simple method for listing all available methods in the current API component. This method will also list which request methods (GET, PUT, POST, or DELETE) are supported by each method in addition to each method status.
      description: A simple method for listing all available methods in the current API component. This method will also list which request methods (GET, PUT, POST, or DELETE) are supported by each method in addition to each method status.
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
      tags:
        - Partners
      responses:
        200:
          description: A simple method for listing all available methods in the current API component. This method will also list which request methods (GET, PUT, POST, or DELETE) are supported by each method in addition to each method status.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'          
            
  /partners/propertytypes:
    get:
      summary: Gives the names and IDs of all available property types. This method differs from the property type lookup method in the client API component in that it can look up property types for any active Platinum MLS, not just those for which the client is a member. The IDX property types are those used for multiple MLS searches and are equivalent to the property types used in the original IDX product. 
      description: Gives the names and IDs of all available property types. This method differs from the property type lookup method in the client API component in that it can look up property types for any active Platinum MLS, not just those for which the client is a member. The IDX property types are those used for multiple MLS searches and are equivalent to the property types used in the original IDX product. 
      parameters:
        - $ref: "#/parameters/accesskey"
        - $ref: "#/parameters/version"
        - $ref: "#/parameters/output"
        - $ref: "#/parameters/idxID"
        - $ref: "#/parameters/rf"
      tags:
        - Partners
      responses:
        200:
          description: Gives the names and IDs of all available property types. This method differs from the property type lookup method in the client API component in that it can look up property types for any active Platinum MLS, not just those for which the client is a member. The IDX property types are those used for multiple MLS searches and are equivalent to the property types used in the original IDX product. 
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'  
  

#default paramaters
parameters:
  accesskey:
    name: accesskey
    in: header
    description: REQUIRED Your API Key.
    required: true
    type: string
    minLength: 22
    maxLength: 22
  version:
    name: version
    in: header
    description: Version of the API to call.
    required: false
    type: string
    default: "1.2.3"
  output:
    name: output
    in: header
    description: Request JSON or XML return.
    required: false
    type: string
    enum: ["json", "xml"]
  interval:
    name: interval
    in: query
    description: The number of hours worth of data to return.
    required: false
    type: number
  startDatetime:
    name: startDatetime
    in: query
    description: The date and time to from which the interval counts back.
    required: false
    type: number
  dateType:
    name: dateType
    in: query
    description: There are several dates associated with a property, this will specify what is being used to return information. If no value is specified dateAdded will be used.
    required: false
    type: number
  limit:
    name: limit
    in: query
    description: Items to skip from the beginning.
    required: false
    type: number
  offset:
    name: offset
    in: query
    description: Items to skip from the beginning.
    required: false
    type: number
  rf:
    name: rf
    in: query
    description: Array of fields to return in the output.
    required: false
    type: string
  filterField:
    name: filterField
    in: query
    description: The field to use when filtering output.
    required: false
    type: string
  filterValue:
    name: filterValue
    in: query
    description: The value by which to filter. Conditional on use of filterField.
    required: false
    enum: ["test", "test3"]
    type: string
  idxID:
    name: idxID
    in: path
    description: The idx id of an mls.
    required: true
    type: string
    minLength: 4
    maxLength: 4
  countSpecifier:
    name: countSpecifier
    in: query
    description: The numeric city ID, county ID, or zipcode for which you want to get a property count.
    required: false
    type: number
  clientChunk:
    name: clientChunk
    in: query
    description: Limit the results data to 400 clients. Example - clientChunk=1 returns data for the first 400 clients and clientChunk=2 returns the data for the next 400 clients.
    required: false
    type: number
  includeDisabledAccounts:
    name: includeDisabledAccounts
    in: query
    description: By default, disabled accounts are excluded from the results data. Use this parameter to include disabled accounts.
    required: false
    type: boolean
  	

  
    
  


definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
